<div class="container text-center border rounded border-info p-4" style="margin-top: 20px;">
    <div class="row">
        <h5>Hitory</h5>
    </div>
</div>
<div class="container text-center border rounded border-info p-4" style="margin-top: 20px;">
    <div class="row">
      <div class="col">
        <h6>DateTime</h6>
      </div>
      <div class="col">
        <h6>localizedName</h6>
      </div>
      <div class="col">
        <h6>country</h6>
      </div>
      <div class="col">
        <h6>weatherInMetric</h6>
      </div>
      <div class="col">
        <h6>weatherInImperial</h6>
      </div>
      <div class="col">
        <h6>weatherText</h6>
      </div>
      <div class="col">
        <h6>weatherIcon</h6>
      </div>
    </div>
  </div>