<app-container-layout>
  <div>
    <div>
      <label>Clima:</label>
      <select [(ngModel)]="climate">
        <option *ngFor="let item of climates">{{ item }}</option>
      </select>
    </div>
    
    <div>
      <label>Tiempo:</label>
      <select [(ngModel)]="weather">
        <option *ngFor="let item of weathers">{{ item }}</option>
      </select>
    </div>
    
    <app-weather-image [selectedClimate]="climate" [selectedWeather]="weather"/>

    <div style="text-align: center;">
      <h1>{{latAndLong}}</h1>
      <h1>{{ response | json }}</h1>
    </div>
  </div>
</app-container-layout>

